.container {
  display: flex;
  justify-content: space-between;
  max-width: var(--size-max-width);
  align-items: center;
  margin: 0 auto;
  padding: var(--space-2xl) var(--size-gutter);
}

.navigation {
  display: flex;
  list-style: none;
  margin: 0;
  gap: var(--space-xl);
}

.navigationItem {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
}

.navigationItem a {
  border-bottom: 1.5px solid transparent;
  color: currentColor;
  text-decoration: none;
}

.navigationItem a:hover {
  border-bottom-color: var(--primary);
  color: var(--primary);
}

.logoLink {
  display: flex;
  font-weight: var(--medium);
  align-items: center;
  flex-direction: row;
  flex-shrink: 0;
  gap: var(--space-md);
}

@media (max-width: 767px) {
  .logoLink > span:last-child {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

.logo {
  height: var(--size-logo);
  width: var(--size-logo);
  display: block;
  background-image: <svg width="20" height="11" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M14.926 7.383l.36.192.481.192.439.152.4.247.422.079.363.171.421.287.094.267-.057.248-.208.269-.268.248-.283.217-.139.165-.115.18.229-.065.077.074.37-.086.282.051.226-.135.171-.093.194-.288.286-.325.231-.212.227-.248.173-.171.037-.173-.019-.172-.151-.247-.211-.346-.133-.381-.249-.307-.097-.438-.114-.365-.174-.437-.225-.347-.212-.304L17.6 4.9l-.171-.461-.096-.421-.097-.36-.171-.343-.212-.365-.208-.211-.287-.343-.265-.269-.346-.152-.439-.17-.346-.212-.439-.209-.517-.08h-.362l-.479.115-.495.098-.478.056-.457.096-.423.019-.552-.058-.327-.057-.381-.056-.306-.115-.345-.135-.306-.133-.325-.059L8.502 1l-.265.058-.288.076-.363.152-.344.133-.42.135-.288.134-.323.058-.268.059h-.384l-.305.029-.269.038-.178.064-.19.065-.229-.038-.18-.18-.218-.126h-.228l-.14.102-.037.126-.077.153-.062.192-.18.154-.268.151-.294.217-.189.167-.192.241-.243.305-.243.204-.331.205-.278.178L1 4.218v.101l.025.114.088.205.101.116.164.074.372.039-.141.063-.027.128-.023.127.128.039.139-.012.266.075.243-.026.268-.037.346.013.418.114.293.116.269.063.306.129.229.01.279-.139.408-.192h.306l.102.103.103.076.064.116v.126l-.077.254-.231.269-.278.42-.192.306-.228.355-.207.358L4.312 8l-.192.359-.177.292-.155.191-.18.18-.214.077-.359.102-.279.063-.228.089-.164.126-.118.13-.077.152.177.011.068.077.215-.052.345.039h.227l.307-.011h.28l.306-.012.294-.078.279-.139.254-.293.23-.179.306-.189.229-.155.205-.166.305-.179.308-.204.342-.266.446-.282.357-.203.37-.192.265-.115.169-.013.178.079.317.253.267.217.231.229.049.255.016.281.011.279-.088.269-.09.167-.129.138-.139.103-.279.101-.37.13-.244.061-.137.142-.144.204.155-.013.217-.079.215.027.142.102H9.102l.291-.026.231.038.343-.049.231-.18.256-.292.278-.243.218-.28.153-.459.229-.484.216-.447.178-.395.165-.077.09.065.09.152.192.255.191.243.112.281.093.344.073.229.051.216-.051.141-.099.166-.269.111-.369.065-.229.117-.153.114-.091.115-.051.087.193-.037.062.077.193-.04.254-.037.268.037.291.026h.319l.384-.05h.153l.228-.204.115-.217.167-.266.179-.371.086-.471.23-.394.205-.256.128-.326z" stroke="#2C698D" stroke-width=".18" stroke-linejoin="bevel"/>
  <path d="M2.953 3.082l.066.128.01.077.085.048.072.06.088.025.034-.038.13-.084.045-.02-.1-.06-.122-.042-.13-.042-.13-.091M5.217 4.84l.023.153.078.206.139.139.205.179.267.115.228.075.257.102M7.534 6.473l.256.075.202.203.157.103.253.256M11.766 6.243l.177.127.13.129-.052.278-.126.229-.104.23M13.931 6.166l.23.357.231.306.228.255.306.299M4.388 1.963l.062.1.128.179" stroke="#2C698D" stroke-width=".18" stroke-linejoin="bevel"/>
</svg>;
}
